<div class="table_background">
  <% if current_player %>

    <div class="container text-center">
      <div id="not-joined">
        <%= link_to "Join Table", join_path, remote: true, class: 'join-link btn btn-primary' %>
      </div>

      <div id="joined">
        <a href="#" class="leave-link btn btn-danger">Leave</a>
        <span id="start" display="none">
          <%= link_to "Start", start_path, remote: true, class: 'start-link btn btn-warning' %>
        </span>

        <div class="top_border container-fluid">
          <h3> Players at table: </h3>
          <div id="players">
          </div>
        </div>

        <h3> Your hand </h3>
        <div id="player-hand" class="container-fluid">
        </div>

        <h3> Community cards </h3>
        <div id="commoncards" class="container-fluid">
          <div class="flop col-md-7"></div>
          <div class="turnriver col-md-5">
            <div class="turn"></div>
            <div class="river"></div>
          </div>
        </div>
      </div>

      <div id="player_actions row">
        <div class="player_actions_child text-center">
          <div><%= link_to "Check", check_path, remote: true, class: 'check-link btn btn-primary' %></div>
          <div><%= link_to "Call", call_path, remote: true, class: 'call-link btn btn-warning' %></div>
          <div><%= link_to "Fold", fold_path, remote: true, class: 'fold-link btn btn-danger' %></div>
          <div>
            <%= form_tag raise_path, remote: true do %>
              <%= number_field_tag 'bet' %>
              <%= submit_tag "Raise", id: "raise-button", class: 'btn btn-info' %>
            <% end %>
          </div>
        </div>


        <div class="bet"></div>
      </div>
      <div id="messages">
      </div>

    </div>

  <% end %>

  <div class="right">
    <!-- <%if signed_in?%>
      <li><%=link_to current_player.email, edit_player_registration_path%></li>
      <li><%=link_to "Logout", destroy_player_session_path, method: :delete%></li>
    <%else%>
      <li><%=link_to "Register", new_player_registration_path%></li>
      <li><%=link_to "Login", new_player_session_path%></li>
    <%end%> -->
      <li><%=link_to "Flush Redis", flush_redis_path %></li>
  </div>
</div>
